[Unit]
Description=Check on battery every 5 minutes to warn the user in case of low battery

[Timer]
OnActiveSec=5m
OnUnitActiveSec=5m

[Install]
WantedBy=timers.target
