@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: "Manrope";
    src: url("../fonts/static/Manrope-Regular.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url("../fonts/RobotoMono-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

/* @font-face {
    font-family: 'SF Compact';
    src: url("../fonts/sfcompact/SF-Compact-Display-Thin.otf");
} */

@font-face {
    font-family: 'ScopeOne';
    src: url("../fonts/ScopeOne-Regular.ttf");
}

@font-face {
    font-family: 'ZCOOL XiaoWei';
    src: url("../fonts/ZCOOLXiaoWei-Regular.ttf");
}

.spectrum-Table-cell {
    padding-top: 2px;
    padding-bottom: 2px;
}

#keyTable {
    width: 100%;
}

.stat-table {
    height: 300px;
    overflow-y: scroll;
    margin-top: 15px;
    margin-bottom: 15px;
}

::-webkit-scrollbar {
    display: none;
}

.spectrum-Rating {
    vertical-align: middle;
}

.spectrum {
    background-image: url('../images/bg.png');
    font-family: 'Montserrat';
}

.chart {
    margin-top: 15px;
    margin-bottom: 15px;
}

body {
    margin: 0px;
    font-family: 'Montserrat';
}

.cell-center {
    text-align: center;
    ;
}

.spectrum-Dialog {
    max-width: 100vw;
    max-height: 100vh;
    width: 95%;
    height: 90%;
    background: none;
}

.responseTime {
    font-family: 'Roboto Mono';
    display: table-cell;
    vertical-align: middle;
    letter-spacing: 1px;
}

.responseNote {
    /* font-family: 'Roboto Mono'; */
    display: table-cell;
    vertical-align: middle;
}

.hide {
    display: none;
}

.num {
    color: #c64349;
}

.kbd {
    display: inline-block;
    padding: 5px 9px;
    /* font: 15px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace; */
    line-height: 14px;
    /* color: #444d56; */
    vertical-align: middle;
    /* background-color: #fafbfc; */
    border: 1px solid #d1d5da;
    border-radius: 5px;
    box-shadow: inset 0 -1px 0 #d1d5da;
    margin: 5px 2px;
}

.mod {
    display: inline-block;
    padding: 3px 5px;
    font: 15px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    line-height: 10px;
    vertical-align: middle;
}

.spectrum-Icon svg {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.spectrum-Dialog-title {
    font-family: 'ScopeOne';
    font-weight: lighter;
    font-size: 24px;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 50px;
    align-items: center;
    z-index: 10;
}

.header {
    width: 100%;
    position: fixed;
    top: 10px;
    z-index: 10;
}

.logo {
    top: 10px;
    z-index: 10;
    width: 60px;
    margin-right: 5px;
}

.dropDownMenu {
    margin: 0;
    position: fixed;
    width: fit-content;
    right: 10px;
}

.spectrum-TreeView-item.is-disabled>.spectrum-TreeView-itemLink>.spectrum-TreeView-itemLabel {
    color: #3f3f3f;
}

.spectrum-TreeView-itemLabel {
    color: #888;
}

.spectrum-TreeView-itemLink>.spectrum-Icon {
    color: #888;
}

.spectrum-TreeView-item.is-selected>.spectrum-TreeView-itemLink:before {
    background-color: none;
    border-color: none;
}

.spectrum-TreeView-item.is-selected>.spectrum-TreeView-itemLink>.spectrum-TreeView-itemLabel {
    color: #ccc;
}

.spectrum-TreeView-item.is-open>.spectrum-TreeView-itemLink>.spectrum-Icon {
    color: #ccc;
}

.spectrum-TreeView-item.is-open>.spectrum-TreeView-itemLink>.spectrum-TreeView-itemLabel {
    color: #ccc;
}

.spectrum-TreeView-item {
    scroll-margin: 20px;

}
/* .spectrum-Dialog.is-open {
    animation: slideInRight;
    animation-duration: .2s;
} */

.spectrum-Dialog-header {
    background: none;
}

.spectrum-Dialog-footer {
    background: none;
}

.spectrum-Dialog-header::after {
    height: 1px;
    color: rgba(114, 105, 106, 1);
}

.spectrum-Dialog-content p {
    background: none;
    white-space: pre-line;
}

.spectrum-Popover {
    max-width: 90%;
}

#demo {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}

#current {
    color: #21506d;
}

.button {
    background: none;
    background-color: rgba(0, 0, 0, 0);
}

.spectrum-Rating-icon.is-selected {
    color: #4f4f4f;
}

.spectrum-Rating-icon {
    /* color: var(--spectrum-rating-icon-color, var(--spectrum-alias-icon-color)); */
    color: #3f3f3f;
}

.test1 {
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='575' height='6px'%3E %3Cstyle%3E circle { animation: ball 2.5s cubic-bezier(0.000, 1.000, 1.000, 0.000) infinite; fill: %23bbb; } %23balls { animation: balls 2.5s linear infinite; } %23circle2 { animation-delay: 0.1s; } %23circle3 { animation-delay: 0.2s; } %23circle4 { animation-delay: 0.3s; } %23circle5 { animation-delay: 0.4s; } @keyframes ball { from { transform: none; } 20% { transform: none; } 80% { transform: translateX(864px); } to { transform: translateX(864px); } } @keyframes balls { from { transform: translateX(-40px); } to { transform: translateX(30px); } } %3C/style%3E %3Cg id='balls'%3E %3Ccircle class='circle' id='circle1' cx='-115' cy='3' r='3'/%3E %3Ccircle class='circle' id='circle2' cx='-130' cy='3' r='3' /%3E %3Ccircle class='circle' id='circle3' cx='-145' cy='3' r='3' /%3E %3Ccircle class='circle' id='circle4' cx='-160' cy='3' r='3' /%3E %3Ccircle class='circle' id='circle5' cx='-175' cy='3' r='3' /%3E %3C/g%3E %3C/svg%3E") 50% no-repeat
}

@keyframes codicon-spin {
    to {
        transform: rotate(1turn)
    }
}

@keyframes progress {
    0% {
        transform: translateX(0) scaleX(1)
    }
    50% {
        transform: translateX(2500%) scaleX(3)
    }
    to {
        transform: translateX(4900%) scaleX(1)
    }
}

.codicon-modifier-spin {
    animation: progress 0.5s steps(30) infinite
}